<div class="banner center">

  <h2>Welcome to your demo app!</h2>
  <p>If you have not already done so, <a href="/create">connect it to your Salesforce Org</a></p>

  <a href="/create" class="btn">Connect to Salesforce</a>

</div>

<div>

  <h3>Subtitle goes here</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatem nihil quia similique odit dolorum unde, reiciendis eaque ut reprehenderit nostrum magni, praesentium veritatis, corrupti, asperiores repudiandae necessitatibus! Nobis, amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatem nihil quia similique odit dolorum unde, reiciendis eaque ut reprehenderit nostrum magni, praesentium veritatis, corrupti, asperiores repudiandae necessitatibus! Nobis, amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatem nihil quia similique odit dolorum unde, reiciendis eaque ut reprehenderit nostrum magni, praesentium veritatis, corrupti, asperiores repudiandae necessitatibus! Nobis, amet.</p>

</div>