<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Billing Street</th>
      <th>Billing City</th>
      <th>Billing State</th>
    </tr>
   
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.billingstreet %></td>
        <td><%= account.billingcity %></td>
        <td><%= account.billingstate %></td>
      </tr>
    <% end %>

  
  
  </table>

</div>
