<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started on Heroku</title>
    <link href="main.css" media="all" rel="stylesheet">
    <script src="main.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
