<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started on Heroku</title>
    <link href="normalize.css" media="all" rel="stylesheet">
    <link href="main.css" media="all" rel="stylesheet">
    <script src="main.js"></script>
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="/" id="site-id">Getting Started Demo App</a>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
